@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "JetBrains Mono", monospace;
  }
}

@layer components {
  .toggle-xl {
    --handleoffset: 2.5rem;
    height: 3rem;
    width: 5rem;
  }

  .btn {
    @apply no-animation;
  }

  .btn:active,
  .btn:active:focus {
    transform: translateY(2px);
  }

  .btn-wide {
    width: auto;
    padding-left: 4em;
    padding-right: 4em;
  }

  .btn-action {
    @apply btn btn-ghost btn-circle;
  }

  .btn-form-group {
    @apply flex justify-between gap-2;
  }
}

@layer utilities {
  .w-content {
    @apply container mx-auto;
  }
}

[data-loading="true"] {
  @apply loading;
}
