@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "JetBrains Mono", monospace;
  }
}

@layer components {
  .toggle-xl {
    --handleoffset: 2.5rem;
    height: 3rem;
    width: 5rem;
  }
}
