@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full w-full;
  }

  html {
    @apply font-sans leading-none;
  }

  .border {
    @apply border-neutral-700;
  }

  svg {
    @apply inline-block align-middle;
  }

  .input {
    height: 2.5rem;
  }

  .btn {
    min-height: 2.5rem;
    height: 2.5rem;
  }
}

@layer components {
  .btn {
    @apply font-bold inline-flex items-center gap-2 rounded-full;
  }

  .icon {
    @apply w-6 aspect-square flex-shrink-0 flex-grow-0;
  }

  .divider {
    margin: 0.5rem 0;
  }

  .divider:before,
  .divider:after {
    height: 1px;
  }

  .hero-icon {
    @apply bg-base-200;

    .badge {
      @apply badge-neutral;
    }
  }

  .tooltip {
    text-align: unset;
  }
}

@layer utilities {
  .max-content {
    @apply max-w-screen-lg mx-auto px-4;
  }

  .btn-sm,
  .btn-xs {
    @apply font-medium;
  }

  .btn-neutral.btn-outline {
    @apply border-neutral-600;
  }

  .btn-neutral.btn-outline:hover {
    @apply bg-neutral-300/20 text-neutral-content;
  }

  .btn-secondary-ghost {
    @apply btn-ghost bg-secondary/5 text-secondary hover:bg-secondary/20;
  }

  .icon-xs {
    @apply w-4;
  }

  .icon-sm {
    @apply w-5;
  }

  .icon-lg {
    @apply w-8;
  }

  .icon-xl {
    @apply w-10;
  }

  .icon-2xl {
    @apply w-12;
  }

  .text-dim {
    @apply text-current opacity-70;
  }

  .text-dimmer {
    @apply text-current opacity-50;
  }

  .divider-horizontal {
    margin: 0 0.5rem;
  }

  .divider-horizontal:before,
  .divider-horizontal:after {
    width: 1px;
  }

  .hero-icon-primary {
    @apply bg-primary/10 text-primary;

    .badge {
      @apply badge-primary;
    }
  }

  .hero-icon-secondary {
    @apply bg-secondary/10 text-secondary;

    .badge {
      @apply badge-secondary;
    }
  }
}
